<div th:fragment="login-form">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group mb-3">
                <label class="form-label">Họ</label>
                <input class="form-control" id="firstName" name="firstName"
                    placeholder="Nhập họ" th:field="*{firstName}" type="text" required />
                <p th:errors="*{firstName}" class="text-danger"
                    th:if="${#fields.hasErrors('firstName')}">
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group mb-3">
                <label class="form-label">Tên</label>
                <input class="form-control" id="lastName" name="lastName" placeholder="Nhập tên"
                    th:field="*{lastName}" type="text" required />
                <p th:errors="*{lastName}" class="text-danger" th:if="${#fields.hasErrors('lastName')}">
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group mb-3">
                <label class="form-label">Giới tính</label>
                <select class="selectpicker form-control" id="gender" name="gender" th:field="*{gender}"
                    required>
                    <option value="Nam">Nam</option>
                    <option value="Nữ">Nữ</option>
                </select>
                <p th:errors="*{gender}" class="text-danger" th:if="${#fields.hasErrors('gender')}">
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group mb-3">
                <label class="form-label">Tuổi</label>
                <input class="form-control" id="age" name="age" placeholder="Nhập tuổi"
                    th:field="*{age}" type="number" required />
                <p th:errors="*{age}" class="text-danger" th:if="${#fields.hasErrors('age')}">
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group mb-3">
                <label class="form-label">Email</label>
                <input class="form-control" id="email" name="email" placeholder="Nhập địa chỉ email"
                    th:field="*{email}" type="email" />
                <p th:errors="*{email}" class="text-danger" th:if="${#fields.hasErrors('email')}">
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group mb-3">
                <label class="form-label">Số điện thoại</label>
                <input class="form-control" id="phone" name="phone"
                    placeholder="Nhập số điện thoại" th:field="*{phone}" type="text" required />
                <p th:errors="*{phone}" class="text-danger" th:if="${#fields.hasErrors('phone')}">
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group mb-3">
                <label class="form-label">Địa chỉ</label>
                <input class="form-control" id="address" name="address" placeholder="Nhập địa chỉ"
                    th:field="*{address}" type="text" required />
                <p th:errors="*{address}" class="text-danger" th:if="${#fields.hasErrors('address')}">
                </p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group mb-3">
                <label class="form-label">Mật khẩu</label>
                <input class="form-control" id="password" name="password" placeholder="Nhập mật khẩu (tối thiểu 8 ký tự)"
                    th:field="*{password}" type="password" />
                <p th:errors="*{password}" class="text-danger" th:if="${#fields.hasErrors('password')}">
                </p>
            </div>
        </div>
    </div>
</div>